.verde {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}
.azul {
    background: linear-gradient(to bottom, rgba(0, 0, 255, 0.904) 0%, rgba(217, 0, 255, 0.904) 100%);
}
.img    {
    width: 50%;
    height: auto;
    border-radius: 200px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
.texto {
    font-size: 1.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.backGround {
    background-color: rgb(168, 159, 195);
}
.fondoBlanco {
    background-color: rgb(255, 255, 255);
}
.column
{
    display: block;
    width: 50%;
    padding: 10px;
    border: 1px solid black;
}